{{> header }}
{{> sidebar }}

<h1>Create a booking</h1>

{{#if errors}}
  <div class='alert alert-error'>
    <ul>
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

<form method='post' action='/bookings/create'>
  <div>
    <label>Property</label>
    <select name='propertyId' required>
      <option value='' disabled {{#unless payload.propertyId}}selected{{/unless}}>-- Select a property --</option>
      {{#each properties}}
        <option value='{{this.id}}' {{#if (eq this.id ../payload.propertyId)}}selected{{/if}}>{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div>
    <label>Client</label>
    <select name='clientId' required>
      <option value='' disabled {{#unless payload.clientId}}selected{{/unless}}>-- Select a client --</option>
      {{#each clients}}
        <option value='{{this.id}}' {{#if (eq this.id ../payload.clientId)}}selected{{/if}}>{{this.lastName}} {{this.firstName}} - {{this.email}}</option>
      {{/each}}
    </select>
  </div>
  <div>
    <label>Start Date</label>
    <input type='date' name='startDate' value='{{payload.startDate}}' required />
  </div>
  <div>
    <label>End Date</label>
    <input type='date' name='endDate' value='{{payload.endDate}}' required />
  </div>
  <div>
    <label>Total Price</label>
    <input type='number' step='0.01' name='totalPrice' value='{{payload.totalPrice}}' required />
  </div>
  <button type='submit'>Create</button>
</form>
<p><a href='/bookings'>Back</a></p>

{{> footer }}