{{> header }}
{{> sidebar }}

<h1>{{t 'invoices.title'}} {{invoice.invoiceNumber}}</h1>
<p><strong>{{t 'invoices.bookingLabel'}}:</strong> {{invoice.bookingId}}</p>
<p><strong>{{t 'invoices.amountLabel'}}:</strong> {{currency invoice.amount}}</p>
<p><strong>{{t 'invoices.dueDateLabel'}}:</strong> {{date invoice.dueDate}}</p>
<p><a href='/invoices/{{invoice.id}}/edit'>{{t 'common.edit'}}</a> | <a href='/invoices'>{{t 'common.back'}}</a></p>

{{> footer }}