{{> header }}
{{> sidebar }}

<h1>{{t 'properties.createTitle'}}</h1>
{{#if errors}}
  <div class='alert alert-error'>
    <ul>
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
<form method='post' action='/properties/create'>
  <div>
    <label>{{t 'properties.name'}}</label>
    <input name='name' value='{{payload.name}}' required />
  </div>
  <div>
    <label>{{t 'properties.address'}}</label>
    <input name='address' value='{{payload.address}}' />
  </div>
  <div>
    <label>{{t 'properties.description'}}</label>
    <textarea name='description'>{{payload.description}}</textarea>
  </div>
  <button type='submit'>{{t 'common.create'}}</button>
</form>
<p><a href='/properties'>{{t 'common.back'}}</a></p>

{{> footer }}