<h1>Mes Propriétés</h1>
<p>
  <a href='/properties/create'>Ajouter une nouvelle propriété</a>
</p>
<hr />
<ul>
  {{#each properties}}
    <li>
      <strong>{{this.name}}</strong><br />
      <small>{{this.address}}</small>
      <button
        data-delete
        data-id='{{this.id}}'
        data-base='/properties'
        data-confirm='Supprimer cette propriété ?'
      >Supprimer</button>
      <a href='/properties/{{this.id}}'>Afficher</a>
      <a href='/properties/{{this.id}}/edit'>Modifier</a>
    </li>
  {{else}}
    <li>Vous n'avez pas encore de propriété.</li>
  {{/each}}
</ul>
<script src='/js/app.js'></script>