{{> header }}
{{> sidebar }}

<h1>Properties</h1>
<form method='GET' action='/properties' style='margin: 0 0 1rem;'>
  <input type='text' name='q' placeholder='Search properties…' value='{{q}}' />
  <button type='submit'>Search</button>
  {{#if q}}<a href='/properties' style='margin-left: .5rem;'>Clear</a>{{/if}}
  <span style='margin-left:1rem;'><a href='/properties/create'>Add a new property</a></span>
  </form>
<hr />
<ul>
  {{#each properties}}
    <li>
      <strong>{{this.name}}</strong><br />
      <small>{{this.address}}</small>
      <button
        data-delete
        data-id='{{this.id}}'
        data-base='/properties'
        data-confirm='Delete this property?'
      >Delete</button>
      <a href='/properties/{{this.id}}'>View</a>
      <a href='/properties/{{this.id}}/edit'>Edit</a>
    </li>
  {{else}}
    <li>No properties yet.</li>
  {{/each}}
</ul>

{{> footer }}