{{> header }}
{{> sidebar }}

<h1>{{t 'properties.title'}}</h1>
<form method='GET' action='/properties' style='margin: 0 0 1rem;'>
  <input type='text' name='q' placeholder='{{t "properties.searchPlaceholder"}}' value='{{q}}' />
  <button type='submit'>{{t 'common.search'}}</button>
  {{#if q}}<a href='/properties' style='margin-left: .5rem;'>{{t 'common.clear'}}</a>{{/if}}
  <span style='margin-left:1rem;'><a href='/properties/create'>{{t 'properties.addNew'}}</a></span>
  </form>
<hr />
<ul>
  {{#each properties}}
    <li>
      <strong>{{this.name}}</strong><br />
      <small>{{this.address}}</small>
      <button
        data-delete
        data-id='{{this.id}}'
        data-base='/properties'
        data-confirm='{{t "properties.confirmDelete"}}'
      >{{t 'common.delete'}}</button>
      <a href='/properties/{{this.id}}'>{{t 'common.view'}}</a>
      <a href='/properties/{{this.id}}/edit'>{{t 'common.edit'}}</a>
    </li>
  {{else}}
    <li>{{t 'properties.noProperties'}}</li>
  {{/each}}
</ul>

{{> footer }}