<h1>Properties</h1>
<p>
  <a href='/properties/create'>Add a new property</a>
</p>
<hr />
<ul>
  {{#each properties}}
    <li>
      <strong>{{this.name}}</strong><br />
      <small>{{this.address}}</small>
      <button
        data-delete
        data-id='{{this.id}}'
        data-base='/properties'
        data-confirm='Delete this property?'
      >Delete</button>
      <a href='/properties/{{this.id}}'>View</a>
      <a href='/properties/{{this.id}}/edit'>Edit</a>
    </li>
  {{else}}
    <li>No properties yet.</li>
  {{/each}}
</ul>
<script src='/js/app.js'></script>