{{> header }}
{{> sidebar }}

<h1>{{property.name}}</h1>
<p><strong>{{t 'properties.addressLabel'}}:</strong> {{property.address}}</p>
<p><strong>{{t 'properties.descriptionLabel'}}:</strong> {{property.description}}</p>
<p><a href='/properties/{{property.id}}/edit'>{{t 'common.edit'}}</a> | <a href='/properties'>{{t 'common.back'}}</a></p>

{{> footer }}