{{> header }}
{{> sidebar }}

<h1>{{t 'clients.createTitle'}}</h1>
{{#if errors}}
  <div class='alert alert-error'>
    <ul>
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
<form method='post' action='/clients/create'>
  <div>
    <label>{{t 'clients.firstName'}}</label>
    <input name='firstName' value='{{payload.firstName}}' required />
  </div>
  <div>
    <label>{{t 'clients.lastName'}}</label>
    <input name='lastName' value='{{payload.lastName}}' required />
  </div>
  <div>
    <label>{{t 'clients.email'}}</label>
    <input type='email' name='email' value='{{payload.email}}' required />
  </div>
  <div>
    <label>{{t 'clients.phone'}}</label>
    <input name='phone' value='{{payload.phone}}' />
  </div>

  <button type='submit'>{{t 'common.create'}}</button>
</form>
<p><a href='/clients'>{{t 'common.back'}}</a></p>

{{> footer }}