{{> header }}
{{> sidebar }}

<h1>Add a client</h1>
{{#if errors}}
  <div class='alert alert-error'>
    <ul>
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
<form method='post' action='/clients/create'>
  <div>
    <label>First name</label>
    <input name='firstName' value='{{payload.firstName}}' required />
  </div>
  <div>
    <label>Last name</label>
    <input name='lastName' value='{{payload.lastName}}' required />
  </div>
  <div>
    <label>Email</label>
    <input type='email' name='email' value='{{payload.email}}' required />
  </div>
  <div>
    <label>Phone</label>
    <input name='phone' value='{{payload.phone}}' />
  </div>

  <button type='submit'>Create</button>
</form>
<p><a href='/clients'>Back</a></p>

{{> footer }}