<h1>Edit client</h1>
<form method='post' action='/clients/{{client.id}}/edit'>
  <div>
    <label>First name</label>
    <input name='firstName' value='{{client.firstName}}' required />
  </div>
  <div>
    <label>Last name</label>
    <input name='lastName' value='{{client.lastName}}' required />
  </div>
  <div>
    <label>Email</label>
    <input name='email' value='{{client.email}}' required />
  </div>
  <div>
    <label>Phone</label>
    <input name='phone' value='{{client.phone}}' />
  </div>
  <button type='submit'>Save</button>
</form>
<p><a href='/clients'>Back</a></p>