{{> header }}
{{> sidebar }}

<h1>Clients</h1>
<p>
  <a href='/clients/create'>Add a new client</a>
</p>
<hr />
<ul>
  {{#each clients}}
    <li>
      <strong>{{this.firstName}} {{this.lastName}}</strong><br />
      <small>{{this.email}} {{#if this.phone}}- {{this.phone}}{{/if}}</small>
      <button
        data-delete
        data-id='{{this.id}}'
        data-base='/clients'
        data-confirm='Delete this client?'
      >Delete</button>
      <a href='/clients/{{this.id}}'>View</a>
      <a href='/clients/{{this.id}}/edit'>Edit</a>
    </li>
  {{else}}
    <li>No clients yet.</li>
  {{/each}}
</ul>

{{> footer }}