{{> header }}
{{> sidebar }}

<h1>{{t 'clients.title'}}</h1>
<form method='GET' action='/clients' style='margin: 0 0 1rem;'>
  <input type='text' name='q' placeholder='{{t "clients.searchPlaceholder"}}' value='{{q}}' />
  <button type='submit'>{{t 'common.search'}}</button>
  {{#if q}}<a href='/clients' style='margin-left: .5rem;'>{{t 'common.clear'}}</a>{{/if}}
  <span style='margin-left:1rem;'><a href='/clients/create'>{{t 'clients.addNew'}}</a></span>
  </form>
<hr />
<ul>
  {{#each clients}}
    <li>
      <strong>{{this.firstName}} {{this.lastName}}</strong><br />
      <small>{{this.email}} {{#if this.phone}}- {{this.phone}}{{/if}}</small>
      <button
        data-delete
        data-id='{{this.id}}'
        data-base='/clients'
        data-confirm='{{t "clients.confirmDelete"}}'
      >{{t 'common.delete'}}</button>
      <a href='/clients/{{this.id}}'>{{t 'common.view'}}</a>
      <a href='/clients/{{this.id}}/edit'>{{t 'common.edit'}}</a>
    </li>
  {{else}}
    <li>{{t 'clients.noClients'}}</li>
  {{/each}}
</ul>

{{> footer }}