{{> header }}
{{> sidebar }}


<div class="page-header-modern">
  <div class="page-header-titles">
    <h1>{{t 'clients.title'}}</h1>
    <p class="page-subtitle">{{t 'clients.subtitle'}}</p>
  </div>
  <div class="page-header-actions">
    <a href="/clients/create" class="btn btn-primary">
      <i data-feather="plus"></i>
      {{t 'clients.addNew'}}
    </a>
  </div>
</div>

<div class="filters-section table-filters-modern clients-filters">
  <form method="GET" action="/clients" class="filters-form-table-modern">
    <div class="filter-group">
      <label for="search-input" class="filter-label">{{t 'common.search' 'Search'}}</label>
      <input 
        type="search" 
        id="search-input"
        name="q" 
        placeholder="{{t 'clients.searchPlaceholder'}}" 
        value="{{q}}"
        class="search-input-modern"
        autocomplete="off"
      />
    </div>
    <div class="filter-group filter-group-btn">
      <label class="filter-label">&nbsp;</label>
      <button type="submit" class="btn btn-modern-filter" title="{{t 'common.filter'}}">
        <i data-feather="search"></i>
      </button>
    </div>
  </form>
</div>

<table class="clients-table">
  <thead>
    <tr>
      <th>{{t 'clients.name' 'Name'}}</th>
      <th>{{t 'clients.email' 'Email'}}</th>
      <th>{{t 'clients.phone' 'Phone'}}</th>
      <th>{{t 'clients.bookings' 'Bookings'}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each clients}}
      <tr>
        <td class="guest-cell">
          <div class="guest-item" style="display:flex;align-items:center;gap:12px;">
            <div class="guest-avatar">
              <img src="https://api.dicebear.com/7.x/initials/svg?seed={{this.firstName}}%20{{this.lastName}}" alt="{{this.firstName}} {{this.lastName}}" />
            </div>
            <div class="guest-name"><a href="/clients/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></div>
          </div>
        </td>
        <td class="guest-property">{{this.email}}</td>
        <td class="guest-property">{{#if this.phone}}{{this.phone}}{{else}}-{{/if}}</td>
        <td class="guest-property">
          {{#if this._count}}
            {{this._count.bookings}}
          {{else}}
            0
          {{/if}}
        </td>
        <td class="actions-cell">
          <a href="/clients/{{this.id}}" class="table-action" title="{{t 'common.view'}}"><i data-feather="eye"></i></a>
          <a href="/clients/{{this.id}}/edit" class="table-action" title="{{t 'common.edit'}}"><i data-feather="edit-2"></i></a>
          <button data-delete data-id="{{this.id}}" data-base="/clients" data-confirm="{{t 'clients.confirmDelete'}}" class="table-action btn-icon btn-danger" title="{{t 'common.delete'}}"><i data-feather="trash-2"></i></button>
        </td>
      </tr>
    {{else}}
      <tr><td colspan="5" class="empty-table">{{t 'clients.noClients'}}</td></tr>
    {{/each}}
  </tbody>
</table>


<div class="table-pagination">
  <div class="pagination-info-row">
    <span>
      {{t 'common.showing'}}
      {{#if totalCount}}
        {{math (math (math page 1 '-') perPage '*') 1 '+'}}-{{math (math (math page perPage '*') totalCount 'min') 0 'max'}}
      {{else}}
        0
      {{/if}}
      {{t 'common.of'}} {{totalCount}}
    </span>
    <form method="GET" action="/clients" class="pagination-perpage-form">
      <input type="hidden" name="q" value="{{q}}" />
      <input type="hidden" name="page" value="{{page}}" />
      <select id="perPage-select" name="perPage" class="filter-select-modern" title="{{t 'clients.perPage'}}" onchange="this.form.submit()">
        <option value="5" {{#if (eq perPage 5)}}selected{{/if}}>5 / page</option>
        <option value="10" {{#if (eq perPage 10)}}selected{{/if}}>10 / page</option>
        <option value="20" {{#if (eq perPage 20)}}selected{{/if}}>20 / page</option>
        <option value="50" {{#if (eq perPage 50)}}selected{{/if}}>50 / page</option>
      </select>
    </form>
  </div>
  <div class="pagination-controls">
    {{#if (gt page 1)}}
      <a href="?{{queryString q=q page=(math page 1 '-') perPage=perPage}}" class="pagination-btn">Previous</a>
    {{else}}
      <span class="pagination-btn disabled">Previous</span>
    {{/if}}

    {{#each (paginationPages page totalPages)}}
      {{#if (eq this ../page)}}
        <span class="pagination-btn active">{{this}}</span>
      {{else}}
        <a href="?{{queryString q=../q page=this perPage=../perPage}}" class="pagination-btn">{{this}}</a>
      {{/if}}
    {{/each}}

    {{#if (lt page totalPages)}}
      <a href="?{{queryString q=q page=(math page 1 '+') perPage=perPage}}" class="pagination-btn">Next</a>
    {{else}}
      <span class="pagination-btn disabled">Next</span>
    {{/if}}
  </div>
</div>

{{> footer }}