{{> header }}
{{> sidebar }}

<h1>Clients</h1>
<form method='GET' action='/clients' style='margin: 0 0 1rem;'>
  <input type='text' name='q' placeholder='Search clients…' value='{{q}}' />
  <button type='submit'>Search</button>
  {{#if q}}<a href='/clients' style='margin-left: .5rem;'>Clear</a>{{/if}}
  <span style='margin-left:1rem;'><a href='/clients/create'>Add a new client</a></span>
  </form>
<hr />
<ul>
  {{#each clients}}
    <li>
      <strong>{{this.firstName}} {{this.lastName}}</strong><br />
      <small>{{this.email}} {{#if this.phone}}- {{this.phone}}{{/if}}</small>
      <button
        data-delete
        data-id='{{this.id}}'
        data-base='/clients'
        data-confirm='Delete this client?'
      >Delete</button>
      <a href='/clients/{{this.id}}'>View</a>
      <a href='/clients/{{this.id}}/edit'>Edit</a>
    </li>
  {{else}}
    <li>No clients yet.</li>
  {{/each}}
</ul>

{{> footer }}