<h1>{{client.firstName}} {{client.lastName}}</h1>
<p><strong>Email:</strong> {{client.email}}</p>
{{#if client.phone}}
  <p><strong>Phone:</strong> {{client.phone}}</p>{{/if}}
<p>
  <a href='/clients/{{client.id}}/edit'>Edit</a>
  <a href='/clients'>Back</a>
</p>