{{> header }}
{{> sidebar }}

  <h1>{{title}}</h1>
  <p>{{t 'index.welcome'}}</p>
  

  <nav>
    <ul>
      {{#each sections}}
        <li>
          <h2>{{this.label}}</h2>
          <ul>
            {{#each this.links}}
              <li><a href='{{this.href}}'>{{this.label}}</a></li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </nav>

  <hr />
  <p>
    Shortcuts:
  <a href='/bookings'>{{t 'nav.bookings'}}</a>
    |
  <a href='/clients'>{{t 'nav.clients'}}</a>
    |
  <a href='/properties'>{{t 'nav.properties'}}</a>
    |
  <a href='/invoices'>{{t 'nav.invoices'}}</a>
  </p>

{{> footer }}